{{if .server.Local}}
<p class="comment-local-disabled">Comment is disabled in local server.</p>
{{else}}

{{- with .extension.Comments.Disqus}}
{{- if .Enabled}}
<div id="disqus_thread"></div>
<script>
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://{{.Shortname}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{{end -}}
{{end -}}

{{- with .extension.Comments.Valine}}
{{- if .Enabled}}
<div id="vcomments"></div>
<script src="https://unpkg.com/valine@latest/dist/Valine.min.js"></script>
<script defer>
    new Valine({
        el: '#vcomments',
        appId: '{{.APPID}}',
        appKey: '{{.APPKey}}',
        serverURLs: '{{.ServerURL}}',
        avatar: 'mp',
        placeholder: 'Leave a comment',
        pageSize: 10,
        visitor: false,
        recordIP: false,
        requiredFields: ['nick', 'mail'],
    })
</script>
{{end -}}
{{end -}}

{{- with .extension.Comments.Twikoo}}
{{- if .Enabled}}
<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.5.9/dist/twikoo.all.min.js"></script>
<script>
    twikoo.init({
        envId: '{{.EID}}',
        el: '#tcomment',
    })
</script>
{{end -}}
{{end -}}

{{end}}