<div class="sidebar">
    <div class="sidebar-profile">
        <div class="profile-card mx-auto">
            <img class="profile-avatar" src="{{.author.AvatarLink}}" alt="">
            <div class="profile-name">{{.author.Name}}</div>
            <div class="profile-bio">{{.author.Bio}}</div>
            {{if .author.HasSocials}}{{template "partial/social.html" .}}{{end}}
        </div>
    </div>
    <div class="sidebar-tags">
        <h4 class="tags-title">Tags</h4>
        <div class="tags-list">
            {{range .tags}}<a
                class=""
                href="{{.Link}}">
                {{.Name}}<span
                    class="tags-post-count">{{.PostCount}}</span>
            </a>{{end}}
        </div>
    </div>
</div>