@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply dark:bg-zinc-800
}

.main {
    @apply w-full flex-none dark:bg-zinc-900
}

.main-container {
    @apply max-w-6xl mx-auto py-8 flex
}

.main-left-container {
    @apply flex-auto w-3/4 pr-10 border-r border-slate-200 dark:border-zinc-800
}

.main-sidebar {
    @apply flex-auto w-1/4 pl-10
}

.post-header {
    @apply flex-auto pb-4 mb-4 text-xl text-gray-500 border-b border-slate-200 dark:border-zinc-800
}

.post-list .post-container {
    @apply border-b border-slate-200 mb-8 dark:border-zinc-800
}

.post-comment{
    @apply border-t border-slate-200 mt-8 dark:border-zinc-800
}

.comment-local-disabled{
    @apply text-zinc-500 pt-6
}

.post-content>p:not(:last-child) {
    @apply pb-2
}

h3.post-title {
    @apply mb-6 text-3xl font-semibold text-gray-700 hover:text-sky-700 dark:text-zinc-400 dark:hover:text-sky-500
}

.post-meta {
    @apply px-1 mb-5 text-gray-400
}

.post-meta-gap {
    @apply mx-4 dark:text-zinc-800
}

.footer .post-meta-gap{
    @apply mx-4 dark:text-zinc-600
}

.post-tag {
    @apply text-gray-500 hover:text-sky-700 dark:hover:text-sky-500
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    @apply py-2 font-semibold
}

.post-content {
    @apply px-1 mb-6 leading-8 text-gray-700 max-w-none dark:text-zinc-400
}

.post-content h1 {
    @apply text-2xl
}

.post-content h2,
.post-content h3 {
    @apply text-xl
}

.post-content h4,
.post-content h5,
.post-content h6 {
    @apply text-lg
}

.post-content pre {
    @apply text-sm leading-5
}

.post-content a {
    @apply text-sky-600 hover:underline dark:text-sky-400
}

.post-content ul {
    @apply list-disc pl-8
}

.post-content ol {
    @apply list-decimal pl-8
}

.post-readmore {
    @apply px-1 mb-6
}

.post-readmore .post-tag {
    @apply text-gray-500 hover:text-gray-800
}

.archive-title {
    @apply mb-4 text-3xl font-semibold text-gray-700 dark:text-zinc-400
}

.archive-list {
    @apply list-disc mb-4 text-gray-500 dark:text-zinc-400
}

.archive-item {
    @apply py-3 ml-8
}

.archive-date {
    @apply text-gray-500 w-14 inline-block dark:text-zinc-400
}

.archive-post-title {
    @apply text-sky-600 hover:underline dark:text-sky-300
}

.footer {
    @apply w-full flex-none border-t border-slate-200 dark:bg-zinc-800 dark:border-gray-700
}

.footer-container {
    @apply max-w-6xl mx-auto py-8 text-gray-400 flex
}

.footer-item {
    @apply post-tag hover:text-gray-800  dark:hover:text-zinc-400
}

.header{
    @apply w-full flex-none border-b border-slate-200 bg-slate-100 dark:bg-zinc-800 dark:border-zinc-700
}

.header-container{
    @apply max-w-6xl mx-auto
}

.header-top{
    @apply py-8 flex items-center justify-between
}

.site-title{
    @apply text-2xl font-bold text-sky-700 dark:text-sky-300
}

.header-nav{
    @apply leading-10 text-slate-600
}

.header-nav-item{
    @apply ml-6 border-l border-slate-200 dark:border-zinc-700
}

.header-nav-item > a{
    @apply rounded ml-6 px-3 py-1.5 hover:bg-sky-800 hover:text-gray-100 dark:text-zinc-200 dark:hover:bg-sky-700
}

.dark-toggle-icon{
    @apply w-7 h-7
}

.post-pager{
    @apply text-gray-500 dark:text-zinc-400 py-8
}

.post-pager-step{
    @apply text-center px-3 py-1 mx-1 hover:text-gray-700 hover:border-b hover:border-slate-700 dark:hover:text-zinc-400 dark:hover:border-slate-300
}

.post-pager-size{
    @apply px-3 py-1 mx-1
}

.sidebar-profile{
    @apply flex items-center justify-center border-b border-slate-200 my-8 pb-8 dark:border-zinc-800
}

.profile-avatar{
    @apply w-24 h-24 mx-auto rounded-lg leading-8 mb-3
}

.profile-name{
    @apply text-center pb-4 text-xl text-gray-700 font-medium dark:text-zinc-400
}

.profile-bio{
    @apply text-center pb-4 text-gray-400 text-xs font-semibold dark:text-zinc-400
}

.sidebar-tags{
    @apply border-b border-slate-200 mb-8 pb-8 dark:border-zinc-800
}

.tags-title{
    @apply mb-4 text-lg font-semibold text-gray-700 dark:text-zinc-400
}

.tags-list > a{
    @apply p-2 rounded leading-none inline-block items-center hover:text-sky-600 dark:text-zinc-400 dark:hover:text-sky-300
}

.tags-post-count{
    @apply bg-slate-200 font-bold rounded text-gray-600 text-sm ml-2 text-center w-5 inline-block dark:bg-zinc-600 dark:text-zinc-400
}

.footer-left{
    @apply flex-auto w-1/2
}

.footer-right{
    @apply flex-auto w-1/2 text-right
}