<!DOCTYPE html>
<html>
{{template "head.html" .}}
<body class="dark:bg-zinc-900">
    {{template "header.html" .}}
    <main class="w-full flex-none">
        <div class="max-w-6xl mx-auto py-8 flex">
            <div class="flex-auto w-3/4 pr-10 border-r border-slate-200 dark:border-zinc-800">
                <section class="post border-b border-slate-200 mb-8 dark:border-zinc-800">
                    <h3 class="mb-6 text-3xl font-semibold text-gray-700 hover:text-sky-700 dark:text-zinc-300 dark:hover:text-sky-500"><a
                            href="{{.page.Link}}">{{.page.Title}}</a></h3>
                    <div class="post-meta px-1 mb-5 text-gray-400">
                        <span class="post-date">{{.page.Date.Format "2006-01-02"}}</span>
                        <span class="mx-4 dark:text-zinc-800">|</span>
                        <span class="post-author">{{.page.Author.Name}}</span>
                    </div>
                    <article class="post-content px-1 mb-6 leading-8 text-gray-700 max-w-none dark:text-zinc-300">{{HTML .page.Content}}</article>
                </section>
            </div>
            <div class="flex-auto w-1/4 pl-10">
                {{template "partial/sidebar.html" .}}
            </div>
        </div>
    </main>
    {{template "footer.html" .}}
</body>
</html>