<!DOCTYPE html>
<html>
{{template "head.html" .}}

<body>
    {{template "header.html" .}}
    <main class="main">
        <div class="main-container">
            <div class="main-left-container">
                <article class="post-container">
                    <h3 class="post-title"><a href="{{.post.Link}}">{{.post.Title}}</a></h3>
                    <div class="post-meta ">
                        <span class="post-date">{{.post.Date.Format "2006-01-02"}}</span>
                        <span class="post-meta-gap">|</span>
                        <span class="post-author">{{.post.Author.Name}}</span>
                        {{range .post.TagLinks}}<span class="post-meta-gap">|</span>
                        <a href="{{.Link}}" class="post-tag">#{{.Name}}</a>{{end}}
                    </div>
                    <div class="post-content">{{HTML .post.Content}}</div>
                    {{if .extension.Comments.Enabled}}
                    <section class="post-comment">
                        {{template "partial/comments.html" .}}
                    </section>
                    {{end}}
                </article>
            </div>
            <div class="main-sidebar">
                {{template "partial/sidebar.html" .}}
            </div>
        </div>
    </main>
    {{template "footer.html" .}}
</body>

</html>