<!DOCTYPE html>
<html>
{{template "head.html" .}}

<body class="dark:bg-zinc-900">
    {{template "header.html" .}}
    <main class="main">
        <div class="main-container">
            <div class="main-left-container">
                {{if .tag}}<div class="post-header">
                    #{{.tag.Name}}</div>{{end}}
                {{range .posts}}<article class="post-container">
                    <h3 class="post-title">
                        <a href="{{.Link}}">{{.Title}}</a></h3>
                    <div class="post-meta">
                        <span class="post-date">{{.Date.Format "2006-01-02"}}</span>
                        <span class="post-meta-gap">|</span>
                        <span class="post-author">{{.Author.Name}}</span>
                        {{range .TagLinks}}<span class="post-meta-gap">|</span>
                        <a href="{{.Link}}" class="post-tag">#{{.Name}}</a>{{end}}
                    </div>
                    <div class="post-brief post-content">
                        {{HTML .Brief}}</div>
                    <div class="post-readmore">
                        <a href="{{.Link}}" class="post-tag">Read More</a>
                    </div>
                </article>{{end}}
                {{template "partial/pager.html" .}}
            </div>
            <div class="main-sidebar">
                {{template "partial/sidebar.html" .}}
            </div>
        </div>
    </main>
    {{template "footer.html" .}}
</body>

</html>